{% extends 'food/base.html'%}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img height="300px" src="{{ item.item_image }}" class="card" />
        </div>

    </div class="col-md-6">
    <h1> {{item.itme_name}} </h1>
    <h2> {{item.item_desc}} </h2>
    <h3> {{item.item_price}} </h3>

    </div>
    </div>
    </div>









    {% endblock %}